<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.Dao.BlogMapper">
    <select id="searchAll" resultType="blog" parameterType="Integer">
        select * from blog
        where user_id = #{id} OR status = 1
        ORDER BY created desc
    </select>
    <select id="searchOwn" resultType="blog" parameterType="Integer">
        select * from blog
        where user_id = #{id}
        ORDER BY created desc
    </select>
    <select id="searchByid" resultType="Blog">
        select * from blog where id =#{id}
    </select>
    <update id="Update" parameterType="Blog">
        update blog set title =#{title},
        user_id=#{user_id},title=#{title},
        description=#{description},content=#{content},
        created=CONVERT_TZ(NOW(), '+00:00', '+8:00'),status=#{status}
        where id =#{id}
    </update>
    <delete id="DeleteByid">
        delete from blog where id =#{id}
    </delete>
    <insert id="Insert" parameterType="blog">
        insert into blog (user_id,title,description,content,created,status)
        values(#{user_id},#{title},#{description},#{content},CONVERT_TZ(NOW(), '+00:00', '+8:00'),#{status})
    </insert>
    <select id="searchByfilter" resultType="Blog">
        select * from blog
        where title LIKE CONCAT('%', #{filter}, '%')
        AND user_id = #{id};
    </select>
    <select id="searchByOwnfilter" resultType="Blog">
        select * from blog
        where title LIKE CONCAT('%', #{filter}, '%')
        AND (user_id = #{id} OR status = 1);
    </select>
    <update id="Updatestatus">
        update blog
        set status = #{status}
        where id = #{id}

    </update>


</mapper>