<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.Dao.UserMapper">
    <select id="searchAll" resultType="user">
        SELECT * from user;
    </select>
    <select id="searchByid" resultType="user">
        SELECT * from user where id =#{id};
    </select>
    <update id="Update" parameterType="com.huang.pojo.User">
        UPDATE user set username = #{username},
        avatar = #{avatar},
        email = #{email},
        password = #{password}
        where id =#{id}
    </update>
    <delete id="DeleteByid">
        delete from user where id =#{id}
    </delete>
    <insert id="Insert" parameterType="user">
        INSERT into user(username,avatar,email,`password`,`status`,created,last_login)
        value(#{username},#{avatar},#{email},#{password},1,NOW(),NOW());
    </insert>
    <select id="searchByname" resultType="user">
        select * from user where username = #{name}
    </select>
    <update id="Updatetime">
        update user set last_login = CONVERT_TZ(NOW(), '+00:00', '+8:00')
        where username = #{username};
    </update>
</mapper>